body{
    height: 100vh;
    background: slategrey;
    display: flex;
    justify-content: center;
}

.Loader{
    display: inline-flex;
    align-items: center;
    column-gap: 0.5em;
}

.LoaderBar{
    display: inline-block;
    width: 10px;
    height: 40px;
    background-color: beige;
    opacity: 0.5;
    border-radius: 10px;
    animation: scale-up 2000ms var(--d) linear infinite;
}

.LoaderBar:nth-child(even)
{
    height: 25px;

}
.LoaderBar:nth-child(3)
{
    height: 50px;
}

@keyframes scale-up {
    25%{
        transform: translateY(0px);
        opacity: 1;
        scale: 1.5;
    }
    50%{
        transform: translateY(-15px);
        scale: 1;
    }
    
}

